# This is Git's per-user configuration file.
[user]
name = USER_NAME
email = USER_EMAIL
[github]
	user = iwahbe
[init]
	defaultBranch = main
[pull]
	rebase = false
[rerere]
	enabled = true
[core]
	excludesfile = ~/.global_gitignore
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
